
        #add_case{
            font-size: 18px;
            font-weight: bold;
            background: red;
        }
        #do{
           font-size: 18px;
            font-weight: bold;
            background: red;
        }
        #add_testcase{
            display: none;
            position: absolute;
            top: 20%;
            left: 25%;
            width: 55%;
            height: 55%;
            border: 2px solid orange;
            background: #BFDDE0;
            overflow: auto;
        }
        #editor_testcase{
            display: none;
            position: absolute;
            top: 20%;
            left: 25%;
            width: 55%;
            height: 55%;
            border: 2px solid orange;
            background: #BFDDE0;
            overflow: auto;
        }
        #new_window{
            font-size: 16px;
            font-weight: bold;
        }
        #editor_window{
            font-size: 16px;
            font-weight: bold;
        }
        #sub{
            font-size: 18px;
            font-weight: bold;
        }
        #sub1{
            font-size: 18px;
            font-weight: bold;
        }
        #close1{
            font-size: 18px;
            font-weight: bold;
        }#close{
            font-size: 18px;
            font-weight: bold;
        }
        input[type="text"]{
            margin-left: 30px;
        }
        form{width: 100%}
        p{
            margin: 10px
        }
        h2{
            text-align: center;
        }
        .di_buttom{
            text-align: center;
        }
