
<html>
<head>
    <title>新增用例</title>
</head>
<form action="{{ url_for('add_testcase')}}" method="POST" class="add_testcase">
    <div>
        用例编号           <input type="text" size="50" name="num">
        <br>
        用例名称           <input type="text" size="50" name="names">
        <br>
        服务器名称或IP     <input type="text" size="50" name="server">
        <br>
        路径               <input type="text" size="50" name="way">
        <br>
        请求方式           <input type="text" size="50" name="request_method">
        <br>
        数据类型           <input type="text" size="50" name="data_i">
        <br>
        接口参数           <input type="text" size="50" name="data">
        <br>
        检查点             <input type="text" size="50" name="check">
        <br>
        是否执行           <input type="text" size="50" name="is_do">
        <br>
        是否作为基础数据   <input type="text" size="50" name="is_base">
        <br>
        是否在基础数据上操作<input type="text" size="50" name="is_base_do">
        <br>
        <input type="submit" value="提交">
    </div>
</form>
</html>
