<html>
    <head>
        {% if title %}
        <title>{{title}} - 用例</title>
        {% else %}
        <title>API测试</title>
        {% endif %}
        <style type="text/css">
            .link{
                margin-right: 100px;
            }
            h1{
                text-align: center;
            }
        </style>
    </head>
    <body>
    <div>
        <h1>API测试</h1>
        {% if not session.logged_in %}
        <a class="link" href="{{url_for('login')}}">登陆</a>
        {% else %}
        <a class="link" href="{{url_for('logout')}}">退出</a>
        {% endif %}
    </div>
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
         {% for message in messages %}
            <li>{{message}}</li>
         {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>