<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    function set_openid(openid,pr)
    {
        u = openid.search('<username>')
        if(u != -1)
        {
            user = prompt('Enter you '+ pr +'username:')
            openid = openid.substr(0,u) + user
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid
    }
</script>
<h2>登录</h2>
{% if error %}<p class="error"><strong>Error:</strong>{{ error }}</p>{% endif %}
<form action="{{ url_for('login')}}" method="post" name="login">
    <d1>
        <dt>Username:</dt>
        <dd><input type="text" name="username"></dd>
        <dt>Password:</dt>
        <dd><input type="text" name="password"></dd>
        <p>{{form.remenber_me}} 记住密码</p>
        <p><input type="submit" value="登录"></p>
    </d1>
</form>
{% endblock %}